---
import { Image } from "astro:assets";
import Layouts from "../../layouts/Layouts.astro";
const { api } = Astro.props;
const rupiah = (number) => {
  return new Intl.NumberFormat("id-ID", {
    style: "currency",
    currency: "IDR",
  }).format(number);
};
---

<Layouts title="produk">
  <div
    class="grid md:grid-cols-5 sm:grid-cols-3 grid-cols-2 gap-4 bg-[#E5E5E5] pb-10 pt-10"
  >
    {
      api.data.map((product) => {
        return (
          <div class="card  shadow-xl py-10  w-auto h-[565px] bg-[#496b63]">
            <figure>
              <Image
                src={product.image}
                alt={product.name}
                width={20}
                height={20}
                class=" rounded"
                width={80}
                height={80}
                class="h-56 w-52"
              />
            </figure>
            <div class="card-body">
              <h1 class="card-title text-white">{product.name}</h1>
              <h2 class="text-white mt-5"> {rupiah(product.price)}</h2>
              <div class="w-[50px]  border-[1px] border-white" />
              <div class="card-actions justify-end mt-28">
                <a href={`/Products/${product.id}`}>
                  <button class="btn btn-primary">detail</button>
                </a>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</Layouts>
